.image-div{
  background-color: white;
  color: black;
  width: 24em;
  padding: 1em 0.25em 0.25em 1em;
  margin: 0 auto;
  font-family: sans-serif;
}

.img-caption{
  font-family: 'Nobile', sans-serif;
  font-size: 12px;
  text-align: right;
  margin: 1em 1em 1em 1em;
}

#image{
  border-style: outset;
  border-color: black;
  width: 20em;
  height: auto;
  display: block;
  margin: 2vh auto;
}

h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  text-decoration: underline;
  padding: 15px;
  display: block;
  margin: 0 auto;
}

body{
  background-color: black;
  color: white;
  margin: 1vh 3vw;
}

#tribute-info{
  background-color: #222021;
  padding: 1em;
  font-family: 'Nobile', sans-serif;
  justify-content: center;
  text-align: center;
}

p{
  text-align: justify;
}

.list{
  display: block;
  margin: 0 5vw;
  border-style: ridge;
  border-color: white;
}

.list-item{
  margin: 2vh 5vw;
  text-align: left;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: rgb(254,203,0);
}

.footer-text{
  color: black;
  text-align: right;
  text-decoration: underline;
}

#footer{
  background-color: white;
  font-family: 'Nobile', sans-serif;
  text-align: right;
  padding: 2em;
}
