#image-div{
  background-color: white;
  color: black;
  padding: auto;
  margin: auto;
  font-family: sans-serif;
  column-count: 3;
}

#image{
  width: 20em;
  height: auto;
  columns: 2/3;
}

h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  padding: 15px;
  position: relative;
}

body{
  background-color: black;
  color: white;
}

#tribute-info{
  background-color: grey;

  padding: 2em;
  font-family: sans-serif;
}

#footer{
  color: white;
  padding: 2em;
}
