.img-div{
  background-color: white;
  color: black;
  width: 24em;
  margin: auto;
  padding: 1em;
  font-family: sans-serif;
}

.img{
  border-style: outset;
  border-color: black;
  max-width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

.img-caption{
  max-width: 80%;
  font-family: 'Nobile', sans-serif;
  font-size: 12px;
  padding: 1em;
}

@media only screen and (max-width: 650px){
  .img-div{
    width: 12em;
    height: auto;
    padding-top: 3px;
    text-align: center;
    display: block;
  }
  .img{
    width: 100%;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-caption{
    max-width: 95%;
    font-size: 10px;
    text-align: right;
  }
}

h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  text-decoration: underline;
  padding: 15px;
  display: block;
  margin: 0 auto;
}

body{
  background-color: black;
  color: white;
  margin: 1vh 1vw;
}

#tribute-info{
  background-color: #222021;
  padding: 1em;
  font-family: 'Nobile', sans-serif;
  justify-content: center;
  text-align: center;
}

#tribute-info .info-intro{
  width: 70%;
  text-align: left;
  margin: 0 auto;
}

.list{
  display: block;
  margin: 0 6vw;
  border-style: ridge;
  border-color: white;
  list-style: none;
}

.list-item{
  margin: 2vh 10vw;
  padding: 0.5em;
  text-align: justify;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: rgb(254,203,0);
}

.footer-text{
  color: black;
  text-align: right;
  text-decoration: underline;
}

#footer{
  background-color: white;
  font-family: 'Nobile', sans-serif;
  text-align: right;
  padding: 1em;
}
